@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}


.animate-bottom {
  position: relative;
  
  animation-name: animatebottom;
  animation-duration: 1s;
  /* animation-delay:0.5s; */
}

.resumebutton{
  animation: bounce-5 1s   infinite;
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
 @keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-20px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}





@media only screen and (min-width:768px){

  
  
  .nav-item .nav-link{
    display: block;
  position: relative;
  
  }
  .nav-link{
    transition: all ease 0.2s ;
  }
  ul:hover li a{
    filter: blur(2px);
  }
  ul li a:hover{
    transform: scale(1.2);
    filter: blur(0);
  }
  }