#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    /* z-index: -1; */
    filter: opacity(0.5);

    /* opacity: 0.7; */
  }

 .text-black{
   color: black;
   font-weight: bolder;
 }

 .bgimg-custom{
  
   background: linear-gradient(to right, #00bf8f, #c04848); 
background-clip: text;
   -webkit-background-clip: text;
   font-weight: bolder;
   font-weight: 900;
   color: transparent;
   transition: all ease 0.4s;
   background-size: 300%;
   background-position: left;
animation: change 10s ease alternate-reverse infinite;
 }
@keyframes change {
  from{
    background-position: left;

  }to{
    background-position:right;

  }
}